<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div class="page">
    <div class="header-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="fancy-header-button">
              <a href="/public/resume_sebastian_mueller.pdf">
                Resume
                <div class="fhb__line fhb__line--horizontal fhb__line--top"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--right"></div>
                <div class="fhb__line fhb__line--horizontal fhb__line--bottom"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--left"></div>
              </a>
            </div>
            <div class="fancy-header-button">
              <a href="/wiki/">
                Wiki
                <div class="fhb__line fhb__line--horizontal fhb__line--top"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--right"></div>
                <div class="fhb__line fhb__line--horizontal fhb__line--bottom"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--left"></div>
              </a>
            </div>
            <div class="fancy-header-button">
              <a href="/board/">
                Note Board
                <div class="fhb__line fhb__line--horizontal fhb__line--top"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--right"></div>
                <div class="fhb__line fhb__line--horizontal fhb__line--bottom"></div>
                <div class="fhb__line fhb__line--vertical fhb__line--left"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div id="brownian2d"></div>
          <div class="col-sm-5 col-sm-offset-2">
            <div class="main-content">
              <h2>Sebastian Mueller</h2>
              <h4>Software Engineer</h4>
              Hi, I am Sebastian. I formally trained as a mathematician, I enjoy solving mathematical problems, writing code and teaching people about mathematics. I currently work as a software engineer at Republic Wealth Management.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <div class="footer-icon">
              <a href="https://www.github.com/AusCoder" aria-describedby="GitHub" >
                <img src="/public/fonts_imgs/GitHub-Mark-Light-64px.png" />
              </a>
            </div>
            <div class="footer-icon footer-icon">
              <a href="https://au.linkedin.com/in/sebastian-mueller-2804b3115
" aria-describedby="LinkedIn" >
                <img src="/public/fonts_imgs/In-White-66px-R.png" />
              </a>
            </div>
            <div class="angelco-icon">
              <a href="https://angel.co/sebastian-mueller-5" aria-describedby="angel.co" >
                <img src="/public/fonts_imgs/angellist_500px.png" height="64" width="64"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="public/client.min.js"></script>

</body>
</html>
