<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div>
    <div className="header-button">
      Bio
    </div>
  </div>

  <!-- add ability to add custom script based on hash... -->
  <script src="public/client.min.js"></script>

</body>
</html>
