<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="public/bootstrap.min.css">
  <link rel="stylesheet" href="public/style.css">
</head>
<body>

  <section class="wrapper">
    <div class="header">
      <div class="header-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header2-skew">
      </div>
      <section id="intro">
        <div class="container-fluid">
          <div class="title">
            <h1>Inspiring Words</h1>
          </div>
        </div>
      </section>
    </div>
    <div class="container-fluid">
      <div class="mid-pics">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <div class="pic-container">
              <img src="assets/pics/penny_fathing.jpg">
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <div class="pic-container">
              <img src="assets/pics/penny_fathing.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </section>




</body>
</html>
